body {
    max-width: 1540px;
    margin: 0 auto;
}
header {
    height: 40px;
    background-color: black;
}
.header__inner {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search {
    color: white;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header-nav__button,.header-nav__login,.header-nav__mypage,.header-nav__sell {
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.header-nav__button{
    background-color: black;
    border: none;
}

main {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}