body{
    max-width: 1540px;
    margin: 0 auto;
}
header{
    height: 40px;
    background-color: black;
}
.header__inner {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
main{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}