.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}
.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.form__group-title {
    text-align: left;
}
.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}
.form__input--text input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background: #ff5555;
    color: #fff;
    cursor: pointer;
}
.login__link {
    margin-top: 20px;
    text-align: center;
}
.login__button-submit {
    border-radius: 3px;
    font-size: 16px;
    color: #59a8e4;
    cursor: pointer;
    text-decoration: none;
}